{% comment %} convert our dates to Number of seconds 
              since 1970-01-01 00:00:00 UTC {% endcomment %}
{% assign time = 'now' | date: '%s' %}


<div class="page-width">
  <div class="row{% if section.settings.dealposition %} flex{% endif %}">
    
    
    <div class="collection-deal col-xl-4 col-lg-5 col-md-12">
      <div class="product_content">
        <div class="specialdeal products-display">
          {% assign datestart = section.settings.startdate | date: "%s" %}
          {% assign dateend = section.settings.enddate |  date: "%s" %}
          {% if datestart <= time and dateend > time %}
          {%- assign product_card_product = all_products[section.settings.product] -%}
          {%- assign media_size = settings.image_ratio -%}
          {%- assign show_secondary_image = settings.show_secondary_image -%}
          {%- assign show_vendor = settings.show_vendor -%}
          <div class="grid__item grid__item--{{section.id}} productdeal"
               data-dealcounter="{{ section.settings.enddate }} 00:00:00"
               >
            <div class="card-wrapper">
              <div class="card card--product" tabindex="-1">
                <div class="card__inner ">

                  <a href="{{ product_card_product.url | default: '#' }}" class="full-unstyled-link">
                    {%- if product_card_product.featured_media -%}
                    {%- liquid
                                  assign featured_media_aspect_ratio = product_card_product.featured_media.aspect_ratio

                                  if product_card_product.featured_media.aspect_ratio == nil
                                    assign featured_media_aspect_ratio = 1
                                  endif
                                -%}
                    <div class="media media--transparent media--{{ media_size }} media--hover-effect"
                         {% if media_size == 'adapt' and product_card_product.featured_media %} style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"{% endif %}
                         >
                      <img 
                           data-src="{{ product_card_product.featured_media | img_url: 'master' }}"
                           sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                           alt="{{ product_card_product.featured_media.alt | escape }}"
                           loading="lazy"
                           class="grid-view-item__image motion-reduce lazyload"
                           width="{{ product_card_product.featured_media.width }}"
                           height="{{ product_card_product.featured_media.height }}"
                           >

                      {%- if product_card_product.media[1] != nil and show_secondary_image -%}
                      <img srcset="{%- if product_card_product.media[1].width >= 165 -%}{{ product_card_product.media[1] | img_url: '165x' }} 165w,{%- endif -%}
                                   {%- if product_card_product.media[1].width >= 360 -%}{{ product_card_product.media[1] | img_url: '360x' }} 360w,{%- endif -%}
                                   {%- if product_card_product.media[1].width >= 533 -%}{{ product_card_product.media[1] | img_url: '533x' }} 533w,{%- endif -%}
                                   {%- if product_card_product.media[1].width >= 720 -%}{{ product_card_product.media[1] | img_url: '720x' }} 720w,{%- endif -%}
                                   {%- if product_card_product.media[1].width >= 940 -%}{{ product_card_product.media[1] | img_url: '940x' }} 940w,{%- endif -%}
                                   {%- if product_card_product.media[1].width >= 1066 -%}{{ product_card_product.media[1] | img_url: '1066x' }} 1066w{%- endif -%}"
                           data-src="{{ product_card_product.media[1] | img_url: 'master' }}"
                           sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                           alt="{{ product_card_product.media[1].alt | escape }}"
                           loading="lazy"
                           class="motion-reduce lazyload"
                           width="{{ product_card_product.media[1].width }}"
                           height="{{ product_card_product.media[1].height }}"
                           >
                      {%- endif -%}
                    </div>
                    {%- if product_card_product.available == false and settings.show_soldout -%}
                    <span class="outstock-overlay">{{ 'products.product.sold_out' | t }}</span>
                    {%- endif -%}
                    {%- else -%}
                    <div class="card__content"><h2 class="card__text h2">{{ product_card_product.title }}</h2></div>
                    {%- endif -%}
                  </a>
                  {%- if product_card_product.compare_at_price > product_card_product.price and product_card_product.available and settings.show_sale -%} 
                  <div class="product-flags ">
                    <span class="flag sale">{{ 'products.product.on_sale' | t }}</span>
                  </div>
                  {%- endif -%}

                  {% if template.name != 'cart' and template.name != '404' %}
                    <div class="thumbnail-buttons">
                      {%- if settings.show_quickview -%}
                        <quickview-opener class="product-popup-modal__opener no-js-hidden btn-info quick-view" data-handle="{{ product_card_product.handle }}" data-modal="#qvPopupModal">
                          <div class="product-popup-modal__button link" type="button" aria-haspopup="dialog" data-href="#qvPopupModal" data-toggle="popover" aria-expanded="false">
                              {% render 'icons' with 'quickview' %}
                          </div>
                        </quickview-opener>
                      {%- endif -%}
                      {%- if settings.show_wishlist -%}
                        <div class="btn-info wishlist">
                          <div class="add-to-wishlist">     
                            <div class="show">
                              <div class="default-wishbutton-{{ product_card_product.handle }} loading"><a class="add-in-wishlist-js" data-href="{{ product_card_product.handle | handleize }}">{% render 'icons' with 'wishlist-outline' %}<span class="tooltip-label">{{ 'products.wishlist.add_to_wishlist' | t }}</span></a></div>
                              <div class="loadding-wishbutton-{{ product_card_product.handle }} loading loader-btn" style="display: none; pointer-events: none"><a class="add_to_wishlist" data-href="{{ product_card_product.handle | handleize }}"><i class="fa fa-circle-o-notch fa-spin"></i></a></div>
                              <div class="added-wishbutton-{{ product_card_product.handle }} loading" style="display: none;"><a class="added-wishlist add_to_wishlist" href="/pages/wishlist">{% render 'icons' with 'wishlist' %}<span class="tooltip-label">{{ 'products.wishlist.view_wishlist' | t }}</span></a></div>
                            </div>
                          </div>
                        </div>
                      {%- endif -%}
                    </div>
                  {% endif %}
                  {% if template.name != 'cart' and template.name != '404' %}
                    {%- if settings.show_cart -%}
                      <div class="cart-btn-bottom">
                        <div class="cart-btn btn {% if product_card_product.available == false %} sold-out{%- else -%} add-to-cart-js{%- endif -%}" data-variantid="{{ product_card_product.selected_or_first_available_variant.id }}">
                             <span>{% if product_card_product.available == false %} {{ 'products.product.sold_out' | t }}{% else %} {{ 'products.product.add_to_cart' | t }} {% endif %}</span>
                        </div>
                      </div>
                     {%- endif -%}
                  {% endif %}
                  
                   {% if section.settings.startdate != blank and section.settings.enddate != blank %}
                  <div class="countdowncontainer">
                    <div class="countdown">
                      <div class="countdown-days data">00</div>
                      <div class="text">{{ 'general.counter.days' | t }}</div>
                    </div>
                    <div class="countdown">
                      <div class="countdown-hours data">00</div>
                      <div class="text">{{ 'general.counter.hours' | t }}</div>
                    </div>
                    <div class="countdown">
                      <div class="countdown-minutes data">00</div>
                      <div class="text">{{ 'general.counter.minutes' | t }}</div>
                    </div>
                    <div class="countdown">
                      <div class="countdown-seconds data">00</div>
                        <div class="text">{{ 'general.counter.seconds' | t }}</div>
                    </div>
                  </div>  
                  {% endif %}
                </div>
              </div>

              <div class="card-information">
                <div class="card-information__wrapper">
                  <span class="shopify-product-reviews-badge" data-id="{{ product_card_product.id }}"></span>
                  {%- if show_vendor -%}
                  <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
                  <div class="caption-with-letter-spacing vendor">{{ product_card_product.vendor }}</div>
                  {%- endif -%}
                  <span class="card-information__text h5">
                    <a href="{{ product_card_product.url | default: '#' }}" class="full-unstyled-link">
                      {{ product_card_product.title | escape }}
                    </a>
                  </span>
                  {% comment %} TODO: metafield {% endcomment %}
                  <span class="caption-large light">{{ section.settings.description | escape }}</span>

                  {% render 'price', product: product_card_product, price_class: '' %}
                  {%- assign truncate_desc =  settings.show_description | plus: 0 -%}
                  {%- if truncate_desc > 0 and product_card_product.description.size > 0 -%}
                  <div class="product-desc"> {{ product_card_product.description | strip_html | truncate: truncate_desc  }}</div>
                  {%- endif -%}
                 
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="collection col-xl-8 col-lg-7 col-md-12">
      {% if section.settings.hometitle != blank or section.settings.subtitle != blank  %}
          <div class="section-header center">
            {% if section.settings.subtitle != blank %}
            <div class="sub-title">{{ section.settings.subtitle }}</div>
            {% endif %}
            {% if section.settings.hometitle != blank %}
            <h2 class="title">{{ section.settings.hometitle }}</h2>
            {% endif %}
          </div>
        {% endif %}

      {%- liquid
        assign products_to_display = section.settings.collection.all_products_count

        if section.settings.collection.all_products_count > section.settings.products_to_show
          assign products_to_display = section.settings.products_to_show
        endif
      %}

    <div class="ishi-featured-product-tab">
      {% if section.blocks.size > 1 %}
        <ul class="ishi-product-tabs nav ishi-product-nav-tabs tab-id">
          {% assign i = 1 %}
          {% for block in section.blocks %}
           {% if block.settings.title != blank %}
          <li class="ishi-product-tab-item{% if i == 1 %} active{% endif %}"><a class="ishi-product-nav-link" data-href="#tab-{{i}}-{{ section.id }}">{{block.settings.title}}</a></li>
            {% endif %}
          {% assign i = i | plus: 1 %}
          {% endfor %}
        </ul>
       {% endif %}
        <div class="ishi-product-tab-content">
          {% assign i = 1 %}
          {% for block in section.blocks %}
          <div id="tab-{{i}}-{{ section.id }}" class="ishi-product-tab-pane ishi-fade{% if i == 1 %} active{% endif %}">
        {%- assign collection = collections[block.settings.collection] -%}
        <ul class="product-list grid owl-carousel owl-theme productblock{{i}}-{{ section.id }}" role="list">
          {% assign counter = 1 %}
          {%- for product in collection.products limit: section.settings.products_to_show -%}
            <li class="grid__item">
              {% render 'product-card-grid',
                product_card_product: product,
                media_size: settings.image_ratio,
                product_count: {{counter}},
                show_secondary_image: settings.show_secondary_image,
                show_vendor: settings.show_vendor
              %}
              {% assign counter = counter | plus: 1 %}
            </li>
          {%- else -%}
            {%- for i in (1..3) -%}
              <li class="grid__item ">
                {% render 'product-card-placeholder' %}
              </li>
            {%- endfor -%}
          {%- endfor -%}
        </ul>

      {%- if block.settings.show_view_all -%}
        <div class="center view-all-btn">
          <a href="{{ block.settings.collection.url }}"
            class="button"
            aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
          >
            {{ 'sections.featured_collection.view_all' | t }}
          </a>
        </div>
      {%- endif -%}
      </div>
          {% assign i = i | plus: 1 %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


<style type="text/css">
  #shopify-section-{{ section.id }} {
    margin-bottom: {{ section.settings.section_bottom_spacing_desktop }}px;
  }
  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} {
      margin-bottom: {{ section.settings.section_bottom_spacing_mobile }}px;
    }
  }
</style>

<script>
  $(document).ready(function () {
    $(document).on("click",".ishi-product-nav-link",function() {
      $(this).parents(".ishi-product-nav-tabs").find(".ishi-product-tab-item").removeClass("active");
      $(this).parents(".ishi-product-tab-item").addClass("active");

      $(this).parents(".ishi-featured-product-tab").find(".ishi-product-tab-pane").removeClass("active");
      var target = $(this).data("href");
      $(target).addClass("active");
    });
  });
</script>


<script>
  jQuery(document).ready(function() {
      {% assign i = 1 %}
      {% for block in section.blocks %}
          $(".productblock{{i}}-{{ section.id }}").owlCarousel({
            nav: true, // Show next and prev buttons
            navText: [
              '<i class=\'fa fa-angle-left\'></i>',
              '<i class=\'fa fa-angle-right\'></i>'
            ],
            dots: false,
            rewind: true,
            loop: false,
            margin:30,
            responsive: {
              0: {
                items: 2,
                margin:10,
              },
              544: {
                items: 2,
                margin:10,
              },
              768: {
                items: 2
              },
              992: {
                items: 2
              },
              1200: {
                items: 2
              },
              1500: {
                items: 3
              }
            }
          });
        {% assign i = i | plus: 1 %}
      {% endfor %}
    
        $('.specialdeal .productdeal').each(function() {
           setCountDownTimer($(this).data("dealcounter"), this.querySelector(".countdowncontainer"));
        });
 
  });
</script>
{% schema %}
{
  "name": "Deal With Product",
  "tag": "section",
  "class": "featured-product-section productwithdeal",
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "label": "Sub Title",
      "default": "CÖUTURE"
    },
    {
      "type": "text",
      "id": "hometitle",
      "label": "Main Title",
      "default": "Trending Products"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 3,
      "max": 18,
      "step": 1,
      "default": 6,
      "label": "Maximum Products to Show"
    },
    {
      "type": "header",
      "content": "Deal Product Settings"
    },
    {
      "type": "checkbox",
      "id": "dealposition",
      "label": "Deal Product Position right",
      "default": false
    },
    {
      "id": "product",
      "type": "product",
      "label": "Select Your Product"
    },
    {
      "type": "text",
      "id": "startdate",
      "label": "Start Date",
      "info": "YYYY-MM-DD"
    },
    {
      "type": "text",
      "id": "enddate",
      "label": "End Date",
      "info": "YYYY-MM-DD"
    },
	{
      "type": "header",
      "content": "Section Bottom Spacing"
    },
    {
      "type": "range",
      "id": "section_bottom_spacing_desktop",
      "label": "Desktop",
      "min": 0,
      "max": 70,
      "step": 10,
      "default": 70
    },
    {
      "type": "range",
      "id": "section_bottom_spacing_mobile",
      "label": "Mobile",
      "min": 0,
      "max": 50,
      "step": 10,
      "default": 30
    }
  ],
"blocks": [
    {
      "type": "product_tab",
      "name": "Products Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Product Tab Title"
        },
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection"
        },
        {
          "type": "checkbox",
          "id": "show_view_all",
          "label": "Enable \"View all\" button if collection has more products than shown",
          "default": true
        }
	  ]
    }
  ],
  "presets": [
    {
      "name": "Deal With Product",
	  "blocks": [
        {
          "type": "product_tab"
        }
      ]
    }
  ]
}
{% endschema %}
